

<ion-content class="fondo-elegante push-content">
  <div class="catalogo-container">
    <h2 class="titulo-catalogo">Catálogo Bohemia</h2>

    <ion-card *ngFor="let producto of productos" class="producto-card">
      <img [src]="producto.imagen" alt="{{ producto.nombre }}" />
      <ion-card-header>
        <ion-card-title>{{ producto.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ producto.estilo }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p class="precio">$ {{ producto.precio | number:'1.0-0' }} CLP</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="boton-volver-wrapper">
    <ion-button expand="block" color="bohemia" (click)="volverDatos()">Volver</ion-button>
  </div>
</ion-content>
