<ion-content class="fondo-elegante">

  <div class="logo-wrapper">
    <div class="logo-bohemia">
      <img src="/assets/images/logo-bohemia.jpg" alt="Bohemia Tocados" />
    </div>
  </div>


  <div class="credenciales-container">
    <lottie-player
      src="assets/animacion/bohemia.json"
      background="transparent"
      speed="1"
      style="width: 24px; height: 24px;"

      loop
      autoplay>
    </lottie-player>

    <p class="accede-sub">Ingresa tus credenciales</p>

    <lottie-player
      src="assets/animacion/bohemia.json"
      background="transparent"
      speed="1"
      style="width: 24px; height: 24px;"
      loop
      autoplay>
    </lottie-player>
  </div>


  <div class="form-wrapper">
    <ion-item lines="none" class="campo-elegante">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="usuario"></ion-input>
    </ion-item>

    <ion-item lines="none" class="campo-elegante">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
    </ion-item>

    <ion-button expand="block" color="bohemia" (click)="iniciarSesion()">
      Iniciar Sesión
    </ion-button>


    <p class="registro-link">
      ¿No tienes cuenta?
      <a routerLink="/registro">Regístrate aquí</a>
    </p>
  </div>
</ion-content>
