<ion-content class="fondo-elegante">
  <!-- Logo -->
  <div class="logo-wrapper">
    <div class="logo-bohemia">
      <img src="/assets/images/logo-bohemia.jpg" alt="Bohemia Tocados" />
    </div>
  </div>

  <!-- Formulario -->
  <div class="formulario-wrapper">
    <p class="accede-sub">Ingresa tus credenciales</p>

    <div class="form-wrapper">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" class="boton-login">Iniciar Sesión</ion-button>
      <p class="registro-link">
        ¿No tienes cuenta?
        <a routerLink="/registro">Regístrate aquí</a>
      </p>
    </div>
  </div>
</ion-content>
