:root {
  --color-fondo-bohemia: #c1cfd0;
  --color-boton-bohemia: #bba088;
  --fuente-principal: 'Poppins', sans-serif;

  --ion-color-bohemia: var(--color-boton-bohemia);
  --ion-color-bohemia-rgb: 187, 160, 136;
  --ion-color-bohemia-contrast: #fff;
  --ion-color-bohemia-shade: #9d765d;
  --ion-color-bohemia-tint: #c99578;
}


.ion-color-bohemia {
  --ion-color-base: var(--ion-color-bohemia);
  --ion-color-base-rgb: var(--ion-color-bohemia-rgb);
  --ion-color-contrast: var(--ion-color-bohemia-contrast);
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: var(--ion-color-bohemia-shade);
  --ion-color-tint: var(--ion-color-bohemia-tint);
}
