<ion-content class="fondo-elegante push-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Confirmar Arriendo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <!-- Datos previos -->
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Nombre</h2>
          <p>{{ datos.nombreNovia }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Fecha Matrimonio</h2>
          <p>{{ datos.fechaMatrimonio | date }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Tocado</h2>
          <p>{{ datos.tocado.nombre }} - ${{ datos.tocado.valor }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Total</h2>
          <p>${{ datos.total }}</p>
        </ion-label>
      </ion-item>
    </ion-list>


    <!-- Geolocalización -->
    <ion-button expand="block" (click)="loadLocation()">
      Obtener mi ubicación
    </ion-button>

    <div *ngIf="coords" class="ion-text-center">
      <p>Lat: {{ coords.lat.toFixed(4) }}, Lng: {{ coords.lng.toFixed(4) }}</p>
      <!-- Contenedor del mapa -->
      <div id="map" style="width:100%; height:200px; margin:1em 0;"></div>
    </div>



    <!-- Cámara -->
    <ion-button expand="block" (click)="takePhoto()">
      Tomar foto de seguridad
    </ion-button>
    <div *ngIf="photoBase64" class="ion-text-center">
      <img [src]="'data:image/jpeg;base64,' + photoBase64" />
    </div>

    <!-- Confirmar -->
    <ion-button
      expand="block"
      color="bohemia"
      [disabled]="isLoading"
      (click)="confirmarPago()">
      {{ isLoading ? 'Procesando...' : 'Confirmar Arriendo' }}
    </ion-button>

    <!-- Volver atrás -->
    <ion-button expand="block" fill="outline" (click)="volverAtras()">
      Volver
    </ion-button>
  </div>
</ion-content>
