<div class="form-wrapper">
  <ion-card class="resumen-card">
    <ion-card-header>
      <ion-card-title class="resumen-titulo">Resumen de Arriendo</ion-card-title>
    </ion-card-header>

    <ion-card-content class="resumen-contenido">
      <p><strong>Nombre:</strong> {{ datos.nombreNovia }}</p>
      <p><strong>Fecha del matrimonio:</strong> {{ datos.fechaMatrimonio | date:'fullDate' }}</p>
      <hr />
      <p><strong>Tocado:</strong> {{ datos.tocado.nombre }}</p>
      <p><strong>Precio tocado:</strong> ${{ datos.tocado.valor | number }}</p>
      <ng-container *ngIf="datos.usarAros">
        <p><strong>Aros:</strong> {{ datos.estiloAros | titlecase }}</p>
        <p><strong>Precio aros:</strong> ${{ datos.precioAros | number }}</p>
      </ng-container>

      <hr />

      <p class="resumen-total"><strong>Total a pagar:</strong> ${{ datos.total | number }}</p>
    </ion-card-content>
  </ion-card>

  <div class="boton-wrapper">
    <ion-button expand="block" class="boton-login" (click)="confirmarPago()">Confirmar y pagar</ion-button>
    <ion-button expand="block" class="boton-login" (click)="volverAtras()">Volver</ion-button>

  </div>
  <div class="logo-wrapper">
    <div class="logo-bohemia">
      <img src="assets/images/logo-bohemia.jpg" alt="Logo Bohemia" />
    </div>
  </div>


</div>
