/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-fondo-bohemia);
}

ion-app, ion-router-outlet, ion-content {
  height: 100%;
  width: 100%;
  --background: var(--color-fondo-bohemia);
  margin: 0 !important;
  padding: 0 !important;
  border: none;
  box-shadow: none;
}

/* Eliminar debug visual */
ion-content {
  outline: none; // ← o simplemente borra esta regla
}

