/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import " maplibre-gl/dist/maplibre-gl.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-fondo-bohemia);
}

ion-app, ion-router-outlet, ion-content {
  height: 100%;
  width: 100%;
  --background: var(--color-fondo-bohemia);
  margin: 0 !important;
  padding: 0 !important;
  border: none;
  box-shadow: none;
}
ion-button[color="bohemia"]::part(native) {

  background: var(--ion-color-bohemia) !important;
  color:      var(--ion-color-bohemia-contrast) !important;


  border-radius: 10px;
  box-shadow:    0 3px 8px rgba(0,0,0,0.1);
  transition:    transform 0.2s ease, filter 0.2s ease;
}

ion-button[color="bohemia"]::part(native):hover {
  filter:    brightness(1.05);
  transform: translateY(-2px);
}

ion-button[color="bohemia"]::part(native):active {
  transform: scale(0.97);
}
ion-app, ion-router-outlet, ion-content {
  padding-top: env(safe-area-inset-top);
}
ion-toolbar[color="bohemia"] {

  --background: var(--ion-color-bohemia) !important;

  --ion-toolbar-background: var(--ion-color-bohemia) !important;
}

ion-content {
  padding-top: env(safe-area-inset-top);
}




