.fondo-elegante {
  --background: #c1cfd0;
}

.credenciales-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 12px;

}

.accede-sub {
  font-size: 19px;
  font-family: var(--fuente-principal);
  font-weight: 450;
  color: #333;
  text-align: center;
  margin: 0;
}
.datos-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 32px 0 16px;
}

.datos-header h2 {
  font-family: var(--fuente-principal);
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.datos-header ion-icon {
  font-size: 22px;
  color: var(--ion-color-bohemia);
}

.datos-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 32px 0 8px;
}

.datos-header h2 {
  font-family: var(--fuente-principal);
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.datos-header ion-icon {
  font-size: 22px;
  color: var(--ion-color-bohemia);
}


.datos-lottie {
  margin: 4px auto 16px;
  width: 48px;
  height: 48px;
  opacity: 0.85;
  margin-top: -8px;
}
.page-banner {
  width: 100%;
  background: var(--ion-color-bohemia-shade);
  padding: 12px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  margin-bottom: 16px;
}

.banner-title {
  margin: 0;
  font-family: var(--fuente-principal);
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.error {
  display: block;
  margin: 4px 0 8px 0;
  font-size: 13px;
  color: #f53d3d;
}


.form-wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 140px;
  margin-bottom: 20px;
}


.boton-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin: 16px;
}

.boton-wrapper ion-button.full {
  grid-column: 1 / -1;
}



.imagen-ejemplo {
  display: block;
  margin: 24px auto 0;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.push-content {

  --padding-top: calc(
    env(safe-area-inset-top)
    + 18px
    + 12px
    + 16px
  );
}
